In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Data Preprocessing

In [2]:
df=pd.read_csv('../Master_Training_File/Zomato.csv') #Convert csv file to Pandas DataFrame

In [3]:
df.head(7) #Looking at the head

,serial,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost_for_two_people,reviews_list,menu_item,listed_in_type,listed_in_city
0,0.0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775.0,080 42297555\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1.0,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787.0,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,2.0,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918.0,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,3.0,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88.0,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,4.0,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166.0,+91 8026612447\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
5,5.0,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286.0,+91 9980040002\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
6,6.0,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8.0,+91 9731716688\n080 26740366,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",[],Buffet,Banashankari

In [4]:
df.drop(['serial','name','url','address','phone','phone','reviews_list'],axis=1,inplace=True) #Removing wome unwanted columns

In [5]:
df.info() #Getting info. about data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        1000 non-null   object
 1   online_order                1000 non-null   object
 2   book_table                  1000 non-null   object
 3   rate                        900 non-null    object
 4   votes                       1000 non-null   float64
 5   location                    1000 non-null   object
 6   rest_type                   999 non-null    object
 7   dish_liked                  453 non-null    object
 8   cuisines                    997 non-null    object
 9   approx_cost_for_two_people  1000 non-null   object
 10  menu_item                   1000 non-null   object
 11  listed_in_type              1000 non-null   object
 12  listed_in_city              1000 non-null   object
dtypes: float64(1), object(12)
memory usage: 101.7+ KB

In [6]:
df.isnull().sum() #Looking for the null values

name                            0
online_order                    0
book_table                      0
rate                          100
votes                           0
location                        0
rest_type                       1
dish_liked                    547
cuisines                        3
approx_cost_for_two_people      0
menu_item                       0
listed_in_type                  0
listed_in_city                  0
dtype: int64

In [14]:
df.cuisines.value_counts()

South Indian                                    89
North Indian, Chinese                           47
North Indian                                    47
South Indian, North Indian, Chinese             24
Fast Food                                       21
                                                ..
Biryani, North Indian, Kebab                     1
North Indian, Seafood, Chinese                   1
Cafe, Bakery, Beverages                          1
South Indian, Burger                             1
Mithai, South Indian, Street Food, Fast Food     1
Name: cuisines, Length: 344, dtype: int64